<h2>Варианты обмена</h2>

<div class="card-columns">
  <% @list_swaps.each do |key, apartment| %>
    <div class="card bg-light" style="max-width: 24rem;">
      <div class="card-body">
        <h5 class="card-title">Обмен</h5>
        <p class="card-text">
          <ul>
            <li>Адрес:</li>
              <ul>
                <li><%= "Район: #{apartment.address.district}" %></li>
                <li><%= "Улица: #{apartment.address.street}" %></li>
                <li><%= "Дом: #{apartment.address.house}" %></li>
              </ul>
            <li><%= "Метраж: #{apartment.footage}" %></li>
            <li><%= "Вид дома: #{apartment.type_of_house}" %></li>
            <li><%= "Количество комнат: #{apartment.rooms}" %></li>
            <li><%= "Этаж: #{apartment.floor}" %></li>
            <li><%= "Количество этажей: #{apartment.number_of_floors}" %></li>
            <li><%= "Стоимость: #{apartment.cost}" %></li>
          </ul>
          <% if @cost < apartment.cost %>
            <i><%= "Доплата: #{apartment.cost - @cost}" %></i>
          <% end %>
        </p>
        <form action="/save_and_delete_apartment/<%= key %>" method="POST">
          <button type="submit" class="btn btn-outline-success btn-block">Выбрать</button>
        </form>
      </div>
    </div>
  <% end %>
</div>

<% if @list_swaps.empty? %>
  <div class="alert alert-warning" role="alert">
    Вариантов обмена не найдено
  </div>
<% end %>