<h2>Таблица видов товаров</h2>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal">
      Добавить вид товар
    </button>
  </div>
</div>
<br>

<form action="/add/type_product" method="POST">
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal">Добавление вида товара</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col">
            <label for="name_division">Выберите отдел</label>
            <select class="form-control" id="name_division" name="name_division">
              <% @db.execute 'SELECT name_division FROM Divisions ORDER BY name_division' do |row| %>
                <option><%= row[0] %></option>
              <% end %>
            </select>
          </div>

          <div class="col">
            <label for="name_type_product">Введите наименование вида товара</label>
            <input type="text" class="form-control" id="name_type_product" name="name_type_product" placeholder="Введите наименование вида товара" value="<%= @name_type_product %>" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Добавить</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</form>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
    <th scope="col" class="table-info align-middle text-center">Редактирование</th>
      <th scope="col" class="table-info align-middle">Отдел</th>
      <th scope="col" class="table-info align-middle">Название товара</th>
    </tr>
  </thead>
  <tbody>
    <% @db.execute '
        SELECT id_type_product, name_division, name_type_product
          FROM Products
            NATURAL JOIN Divisions
            ORDER BY name_division
    ' do |row| %>
    <tr>
      <td class="w-25 align text-center">
        <div class="form-row">
          <div class="col-4"></div>
            <form action="/delete/type_product/<%= row[0] %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-default">
                <div class="col">
                  <span style="font-size:15px; color:red;" class="fa fa-times"></span>
                </div>
              </button>
            </form>
          </div>
        </div>
      </td>
      <td class="align-middle"><%= row[1] %></td>
      <td class="align-middle"><%= row[2] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<a href="/main" class="btn btn-secondary active" role="button" aria-pressed="true">На главную</a>
